.logo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo--angular {
  width: 100px;
  height: 100px;
  animation: logo--spin infinite 20s linear;
}

.logo--lynx {
  width: 100px;
  height: 100px;
  animation: logo--shake infinite 0.5s ease;
}

@keyframes logo--spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes logo--shake {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
